:root
{
  --primary: #ffffff;
  --purple-light: #64daef;
  --purple-dark: #65b9c2;
  --brown: #add7e8;
  --brown-dark: #47a2e7;
  --light-blue:#64daef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a
{ 
  text-decoration: none;
  cursor: pointer;
  color: var(--brown-dark);
}